<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-3"><%= game.game_date %></h1>
    </div>

    <div class="col-md-6">
      <h1 class="display-4">
        Players: <%= game.players.count %>
      </h1>
    </div>
  </div>

  <p>
    Current Players:
  </p>

  <ul class="list-group">
    <% game.players.each do |player| %>
      <li class="list-group-item">
        <%= player.name %>

        <span>
          <form action="/players/<%= player.id %>" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <input type="hidden" name="_method" value="delete">

            <button type="submit" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </form>
        </span>
      </li>
    <% end %>
  </ul>

  <a class="btn btn-success btn-lg" href="#" type="button" data-toggle="modal" data-target="#selectPlayerModal">
    Join Game
  </a>
</div>

<div class="modal fade" id="selectPlayerModal" tabindex="-1" role="dialog">
    <%= render partial: "people/select_modal", locals: { people: game.available_people, game: game } %>
</div>
