<div class="row p-3">
  <div class="col-md-12">
    <div class="card">
      <h3 class="card-header">
        <div class="row">
          <div class="col-md-6">
            <%= game.game_date %>
          </div>

          <div class="col-md-6">
            Players: <%= game.player_count %>
          </div>

        </div>
      </h3>

      <div class="card-block">
        <div class="mb-3">
          <% if game.players.length > 0 %>
            <%= render partial: "players/player_list", locals: { game: game } %>
          <% else %>
            <p>No Players Yet!</p>
          <% end %>
        </div>

        <a class="btn btn-success btn-lg" method="post" href="/create_player" role="button" data-toggle="modal" data-target="#selectPlayerModal-<%= game.id %>">
          Join Game
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="selectPlayerModal-<%= game.id %>" tabindex="-1" role="dialog">
    <%= render partial: "people/select_modal", locals: { people: game.available_people, game: game } %>
</div>
