<!-- Validation failure messages -->
<% if @player.errors.any? %>
  <% @player.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Player</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_player" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for person_id -->
      <div class="form-group">
        <label for="person_id" class="control-label">
          Person
        </label>

        <input type="text" id="person_id" name="person_id" placeholder="Person" class="form-control" value="<%= @player.person_id %>">
      </div>

      <!-- Label and input for game_id -->
      <div class="form-group">
        <label for="game_id" class="control-label">
          Game
        </label>

        <input type="text" id="game_id" name="game_id" placeholder="Game" class="form-control" value="<%= @player.game_id %>">
      </div>

      <!-- Label and input for guests -->
      <div class="form-group">
        <label for="guests" class="control-label">
          Guests
        </label>

        <input type="text" id="guests" name="guests" placeholder="Guests" class="form-control" value="<%= @player.guests %>">
      </div>

      <button class="btn btn-success">
        Create Player
      </button>
      or
      <a href="/players">Cancel</a>
    </form>
  </div>
</div>
